@mixin shadow {
  -webkit-box-shadow: 1px 1px 7px #002e4d;
   -moz-box-shadow: 1px 1px 7px #002e4d;
        box-shadow: 1px 1px 7px #002e4d;
}

.navbar {
  color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99d6ff), to(#003d66));
  background-image: -moz-linear-gradient(0% 12% 90deg, #003d66, #99d6ff);
  background-color: #99d6ff;
  border-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003d66), to(#99d6ff));
  border-image: -moz-linear-gradient(0% 12% 90deg, #99d6ff, #003d66);
  @include shadow
}

.navbar-default .navbar-brand {
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.panel-default {
  border: none;
  @include shadow
}

.panel-default > .panel-heading {
  background-color: #e6f5ff;
  border-bottom: 1px solid #66c2ff;
  color: #004d80;
}

label {
  color: #004d80;
}

.btn-primary {
  background-color: #004d80;
}

.btn-danger {
  background-color: none;
}

.btn-success {
  margin-top: 10px;
}

a,
a:hover,
a:visited
a:active {
  color: #004d80;
  text-decoration: none;
}

.logout > a:hover {
  background-color: none;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px;
}

.logout {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.user-name {
  padding-top: 15px;
  color: #fff;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    padding-top: 14px;
  }
  .btn:hover {
    background-color: transparent;
    text-shadow: 1px 1px 2px #002e4d;
  }
}

div div div ul {
  margin-top: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  &:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #002e4d;
  }
}

h1 {
  color: #007acc;
  font-weight: bold;
}

thead {
  background-color: #e6f5ff;
  border-bottom: 1px solid #66c2ff;
}

.clear-bg {
  background-color: #ccebff;
  border-bottom: none;
}

tr {
  border: none;
}

table {
  overflow: auto;
  @include shadow
}

footer {
  border-top: 1px solid #004d80;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-default .navbar-brand {
    font-size: 1.2em;
    }
  .user-name {
    text-align: center;
  }
  .navbar-right {
    padding: 0;
  }
  .logout {
    padding: 0;
  }
  .left-padding {
    padding: 0;
  }
}
